<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/weather.png">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/070.JPG" alt="Mr. Fang">

  </div>
  {{>footer}}
</body>

</html>